@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

html {
    scroll-behavior: smooth;
}

@theme inline {
    --font-geist-mono: var(--font-geist-mono);
    --font-geist-sans: var(--font-geist-sans);
    --font-open-sans : var(--font-open-sans)
}

@layer utilities {
    @keyframes pulse-blue {
        0%, 100% {
            box-shadow: 0 0 0px rgba(59, 130, 246, 0.5); /* blue-500 */
        }
        50% {
            box-shadow: 0 0 25px rgba(59, 130, 246, 0.7);
        }
    }
    .animate-pulse-blue {
        animation: pulse-blue 2s ease-in-out infinite;
    }
}
